body {
  background-color: aquamarine;

  .App {
    text-align: center;

    .card {
      position: relative;
      left: 475px;
    }

    .img {
      position: relative;
      left: 135px;
    }

    .name {
      position: relative;
      top: 50px;
    }

    .profile {
      position: relative;
      top: 100px;
    }
  }
}
